/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');


/* Reset */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  color: inherit;
  background: transparent;
  background-repeat: no-repeat;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

/* Misc tag styling */

strong, b {
  font-weight: 700;
}
em, i {
  font-style: italic;
}
input[type=submit],
button {
  -webkit-appearance: none;
  cursor: pointer;
  text-align: left;
}
textarea {
  resize: none;
}
symbol,
use,
svg {
  overflow: visible;
}
svg {
  display: block;
  user-select: none;
  pointer-events: none;
}
svg use {
  pointer-events: none;
}
img {
  display: block;
  user-select: none;
}
a {
  color: inherit;
  text-decoration: none;
}
[hidden] {
  display: none !important;
}
:focus {
  outline: 0;
}
::selection {
  color: currentColor;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: none;
}
::placeholder {
  color: inherit;
  opacity: 1;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Root & body elements */

html,
body {
  overflow: hidden;
  user-select: none;
}
body {
  position: relative;
  height: 100vh;
  line-height: 20px;
  color: #d5d5d5;
  background-color: #333;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

/* Styles */

p {
  margin-bottom: 15px;
}
b {
  font-weight: 600;
}
.tabsSelector {
  display: flex;
  align-items: flex-start;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background: linear-gradient(to top, #464646 3px, rgba(0, 0, 0, 0.33) 3px);
}
.tabsSelector li {
  display: block;
  padding: 8px 10px 5px;
  border-bottom: 3px solid #464646;
  cursor: pointer;
  transition:
    background-color .15s ease-in-out,
    border-bottom-color .15s ease-in-out;
}
.tabsSelector li:hover {
  border-bottom-color: #5c5c5c;
}
.tabsSelector li.active {
  background-color: #333;
  border-bottom-color: #8d8d8d;
}
.tabContent {
  margin: 20px 15px 0;
}
.actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
#adContainer {
  position: absolute;
  bottom: 56px;
  right: 15px;
  width: 400px;
  height: 300px;
  background: #252525 url('icons/IconMouseNormal.png') center center no-repeat;
  background-size: 120px;
}
button {
  display: block;
  margin-right: 10px;
  padding: 6px 8px;
  line-height: 120%;
  color: #d5d5d5;
  background: #3b3b3b;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background .15s ease-in-out;
}
button:hover {
  color: #ffffff;
  background: #8d8d8d;
}
button:active {
  color: #d5d5d5;
  background: #444;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
